<div class="side_bar">
    <div class="btn-group">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
 <a class="Application Form" routerLink="/dashboard">Treaty 1</a>
</button>
        <ul class="dropdown-menu">
            <li><a class="Slip" href="#">Slip</a></li>
            <li><a class="Application Form" routerLink="/application-form">Application Form</a></li>
            <li><a class="Personal-Form" href="#">Personal Form</a></li>
            <li><a class="Rates’-tables" href="#">Rates’ tables</a></li>
            <li><a class="Quotations" href="#">Quotations</a></li>
            <li><a class="Online-payment" href="#">Online  payment</a></li>
            <li><a class="Policies" href="#">Policies</a></li>
            <li><a class="Reports" href="#">Reports</a></li>
        </ul>
    </div>

    <div class="treaty_2"> Treaty 2</div>

    <div class="treaty_3"> Treaty 3</div>
    <div class="treaty_4"> Treaty 4</div>



</div>
<div class="content">

    <div class="table ">
        <tr>
            <td>Full name :</td>
            <td></td>
        </tr>
        <tr>
            <td>Email :</td>
            <td></td>
        </tr>
        <tr>
            <td>Date of birth :</td>
            <td> 1/5/2022</td>
        </tr>
        <tr>
            <td>Gender :</td>
            <td></td>
        </tr>
        <tr>
            <td>Mobiles :</td>
            <td></td>
        </tr>



    </div>

</div>
