<div class="side_bar">
    <div class="treaty_1"> Treaty 1</div>
    <div class="treaty_2"> Treaty 2</div>
    <div class="treaty_3"> Treaty 3</div>
    <div class="treaty_4"> Treaty 4</div>
</div>
<div class="content">
    <div class="content_up">
        <div class="one">Slip</div>
        <div class="two">Application <br> Form</div>
        <div class="three">Personal <br>Form</div>
        <div class="four">Rates’ tables</div> <br>
        <div class="five">Quotations</div>
        <div class="six">Online <br> payment</div>
        <div class="seven">Policies</div>
        <div class="eight">Reports</div>

    </div>

    <hr>
    <div class="content_down">
        <p>
            <u><b>Treaty information</b></u> <br>Treaty name: CI QS <br>Type: Proportional <br>Ceding company: Jordan XYZ <br>Location: Jordan <br>Inception date: 1/7/2023 <br>Currency: JOD <br>Intermediary: NA
        </p>



    </div>
</div>
