<div class="side_bar">
    <div class="btn-group">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
      Treaty 1
    </button>
        <ul class="dropdown-menu">
            <li><a class="Slip" href="#">Slip</a></li>
            <li><a class="Application Form" href="#">Application Form</a></li>
            <li><a class="Personal-Form" href="#">Personal Form</a></li>
            <li><a class="Rates’-tables" href="#">Rates’ tables</a></li>
            <li><a class="Quotations" href="#">Quotations</a></li>
            <li><a class="Online-payment" href="#">Online  payment</a></li>
            <li><a class="Policies" href="#">Policies</a></li>
            <li><a class="Reports" href="#">Reports</a></li>
        </ul>
    </div>
    <div class="treaty-one-content">

    </div>

    <div class="treaty_3"> Treaty 2</div>

    <div class="treaty_3"> Treaty 3</div>
    <div class="treaty_4"> Treaty 4</div>
</div>
<div class="content">
    <div class="content_up">
        <div class="one">
            <button>
            <p>Slip</p>
          </button>
        </div>
        <div class="two">
            <button><p>Application</p> Form</button>
        </div>
        <div class="three">
            <button>
              <p>Personal</p>Form
            </button></div>
        <div class="four">
            <button>
            <p>Rates’ tables</p>
          </button>
        </div> <br>
        <div class="five">
            <button>
              <p>Quotations</p>
            </button>
        </div>
        <div class="six">
            <button>
            <p>Online </p> payment
          </button>
        </div>
        <div class="seven">
            <button>
              <p>Policies</p>
            </button>
        </div>
        <div class="eight">
            <button>
            <p>Reports</p>
          </button>
        </div>

    </div>

    <hr>
    <div class="content_down">

        <p>
            <u><b>Treaty information</b></u> <br>Treaty name: CI QS <br>Type: Proportional <br>Ceding company: Jordan XYZ <br>Location: Jordan <br>Inception date: 1/7/2023 <br>Currency: JOD <br>Intermediary: NA
        </p>



    </div>
</div>
